* {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Dawning of a New Day', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
}

p {
    font-family: 'Montserrat', sans-serif;
}

nav {
    text-align: center;
    position: relative;
    padding: 5em;

    transition: transform .5s;
    z-index: 5;
}

nav.hidden {
    display: none;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 2em;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    flex-basis: 200px;
    padding: 0.5em;
}

.menu {
    flex-basis: auto;
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.menubutton {
    width: 2em;
    height: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 10;
}

.bar {
    width: 1.8em;
    height: 0.2em;
    background-color: black;
    transition: transform .5s;
}

.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    visibility: hidden;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px);
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 99;
}

#desktop {
    background-image: url(billeder/desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 1vh;
    height: 100vh;
}

#portfolio {
    height: 100vh;
    padding: 4em;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

/* BOX OVERLAY */

.container {
    position: relative;
    width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.container:hover .overlay {
    opacity: 0.8;
}

.text {
    color: white;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
