* {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Allura', cursive;
    text-align: center;
    font-weight: 400;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

p {
    font-family: 'Montserrat', sans-serif;
}

nav {
    text-align: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 5em 0 5em 0;
    background-color: white;
    opacity: 0.9;

    transition: transform .5s;
    z-index: 5;
}

.fade {
    animation-name: fade;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease;
    align-items: center;

}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

.hidden {
    display: none;
}

nav a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 2em;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cv .wrapper {
    flex-direction: row-reverse;
}

.cv {
    flex-basis: 500px;
    flex-grow: 3;
    margin-top: 2em;
}

#cv {
    padding: 2em;
}

#cv .line {
    margin-bottom: 2em;
}

#kontakt {
    margin: 1em;
}

#skills {
    flex: 350px;
    flex-grow: 2;
    margin-top: 2em;
}

.logo {
    flex-basis: 200px;
    padding: 0.5em;
}

.menu {
    flex-basis: auto;
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.menubutton {
    width: 2em;
    height: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 10;
}

.bar {
    width: 1.8em;
    height: 0.2em;
    background-color: black;
    transition: transform .5s;
}

.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    visibility: hidden;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px);
}

#topbar {
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
    z-index: 99;
}

#desktop {
    background-image: url(billeder/desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-top: -70px;
}

#portfolio {
    height: 100vh;
    padding: 4em;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    padding-top: 1em;
}

.kontakt {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 1em;
}

.follow {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 1em;
}

.content {
    flex-basis: 75%;
    padding: 1em;
}

.icon {
    flex-basis: 5%;
    padding: 1em;
}

.icon img {
    width: 20px;
}

.line {
    background-color: #4d6ba3;
    width: 75%;
    height: 3px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    animation-name: line;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes line {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

/* BOX OVERLAY */

.container {
    position: relative;
    width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.container:hover .overlay {
    opacity: 0.8;
}

.text {
    color: white;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    #desktop {
        background-size: contain;
        height: 47vh;
    }

    .logo {
        flex-basis: 125px;
        padding: 0.3em;
    }

    .menu {
        margin-top: auto;
        margin-right: 0.3em;
        padding: 0.5em;
    }

    .menubutton {
        width: 1.5em;
        height: 1.5em;
    }

    .kryds .bar1 {
        transform: rotate(45deg) translate(6px, 5px);
    }


    .kryds .bar3 {
        transform: rotate(-45deg) translate(6px, -5px);
    }
}

@media screen and (max-width: 500px) {
    #desktop {
        background-size: contain;
        height: 37vh;
    }

    #portfolio {
        padding: 2em;
    }

    .kryds .bar1 {
        transform: rotate(45deg) translate(6px, 5px);
    }


    .kryds .bar3 {
        transform: rotate(-45deg) translate(6px, -5px);
    }
}

/* SKILLBAR */

#skill1 {
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 25px;
    margin: auto;
    margin-bottom: 1em;
    position: relative;
}

#skill1 p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px 5px;
}

#html {
    background-color: #4d6ba3;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: html;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

#skill2 {
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 25px;
    margin: auto;
    margin-bottom: 1em;
    position: relative;
}

#skill2 p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px 5px;
}

#js {
    background-color: #4d6ba3;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: js;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}

@keyframes js {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

#skill3 {
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 25px;
    margin: auto;
    margin-bottom: 1em;
    position: relative;
}

#skill3 p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px 5px;
}

#adobe {
    background-color: #4d6ba3;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: adobe;
    animation-duration: 4.5s;
    animation-iteration-count: 1;
}

@keyframes adobe {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
