* {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Allura', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
}

p {
    font-family: 'Montserrat', sans-serif;
}

nav {
    text-align: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 5em 0 5em 0;
    background-color: rgba(255, 255, 255, 0.8);

    transition: transform .5s;
    z-index: 5;
}

.fade {
    animation-name: fade;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

@keyframes fade {
    from {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.hidden {
    display: none;
}

nav a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 2em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    flex-basis: 200px;
    padding: 0.5em;
}

.menu {
    flex-basis: auto;
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.menubutton {
    width: 2em;
    height: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 10;
}

.bar {
    width: 1.8em;
    height: 0.2em;
    background-color: black;
    transition: transform .5s;
}

.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    visibility: hidden;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px);
}

#topbar {
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 99;
}

#desktop {
    background-image: url(billeder/desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin-top: -70px;
}

#portfolio {
    height: 100vh;
    padding: 4em;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
}

/* BOX OVERLAY */

.container {
    position: relative;
    width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.container:hover .overlay {
    opacity: 0.8;
}

.text {
    color: white;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    #desktop {
        background-size: contain;
        height: 40vh;
    }

    .logo {
        flex-basis: 125px;
        padding: 0.3em;
    }

    .menu {
        margin-top: auto;
        margin-right: 0.3em;
        padding: 0.5em;
    }

    .menubutton {
        width: 1.5em;
        height: 1.5em;
    }

    .kryds .bar1 {
        transform: rotate(45deg) translate(6px, 5px);
    }


    .kryds .bar3 {
        transform: rotate(-45deg) translate(6px, -5px);
    }
}

@media screen and (max-width: 500px) {
    #desktop {
        background-size: contain;
        height: 30vh;
    }

    #portfolio {
        padding: 2em;
    }

    .kryds .bar1 {
        transform: rotate(45deg) translate(6px, 5px);
    }


    .kryds .bar3 {
        transform: rotate(-45deg) translate(6px, -5px);
    }
}
